@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari, and Edge */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer and Edge */
* {
  -ms-overflow-style: none;
}


body{
    /* background: #ff5a540a; */
    background: #0000000a;
    /* font-family: "Plus Jakarta Sans", serif; */
    font-family: primary-font;
}

@font-face {
    font-family: primary-font;
    src: url(./assets/Fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: primary-font-heavy;
    src: url(./assets/Fonts/Mont-HeavyDEMO.otf);
}   



.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }


  .custom-shadow{
    box-shadow: 4px 5px 5px black;
  }


  .transition-bottom{
    transition: bottom 5s ease, top 5s ease;
  }


  .swal2-container {
    backdrop-filter: blur(10px);
  }


  .toast-blur{
    backdrop-filter: blur(5px); /* Adjust the blur amount */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Semi-transparent background */
  color: black; /* Optional: Ensure text is readable */
  }


  .popins{
    font-family: "Plus Jakarta Sans", serif;
  }



  .filling-box {
    position: relative;
    
    overflow: hidden;
  }
  
  .filling-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%; /* Start with no width */
    height: 100%;
    background-color: #21ab90;
    transition: width 0.5s ease-in-out;
  }
  
  .filling-box.filled::before {
    width: 100%; /* Full width when class is added */
  }
  



  .hithere {
    animation: hithere 1s ease infinite;
  }
  @keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }
  