@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background: #ff5a540a;
    /* font-family: "Plus Jakarta Sans", serif; */
    font-family: primary-font;
}

@font-face {
    font-family: primary-font;
    src: url(./assets/Fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: primary-font-heavy;
    src: url(./assets/Fonts/Mont-HeavyDEMO.otf);
}   



.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }


  .custom-shadow{
    box-shadow: 4px 5px 5px black;
  }


  .transition-bottom{
    transition: bottom 5s ease, top 5s ease;
  }


  .swal2-container {
    backdrop-filter: blur(10px);
  }


  .toast-blur{
    backdrop-filter: blur(5px); /* Adjust the blur amount */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Semi-transparent background */
  color: black; /* Optional: Ensure text is readable */
  }


  .popins{
    font-family: "Plus Jakarta Sans", serif;
  }